%link{rel:"stylesheet", href:"/css/blogs.css", media:"all"}
%section.page-content
	-@blogs.each do |blog|
		%artical{id:"#{blog.id}"}
			.box1
				.blog-info
					%span.create-time=blog.created_at.localtime.strftime("%Y-%m-%d")
					%span.like-count=blog.like_count
					-if blog.tags
						-blog.tags.each do |tag|
							%span.blog-tag
								%a.blog-tag{href:"#{tag_path(tag)}"}=tag.name
			.box2
				.blog-title
					%h1{style:"posistion:relative"}
						%a.blog-view{href:"#{blog_path(blog)}", style:'display:inline-block' } #{blog.title} 
				%a.blog-view{href:"#{blog_path(blog)}"}
					%div.blog-short.cvt-content=blog.content.to_s.strip[0,150]+'...'
				-if signed_in?
					=link_to '编辑', edit_blog_path(blog)
					=link_to '删除', blog_path(blog), method: :delete, class: 'delete-blog', href: 'javascript:void(0)', remote: true
