<!DOCTYPE html>
<html>
<head>
  <title><%=title(yield(:title))%></title>
  <%= stylesheet_link_tag "/bootstrap/bootstrap", media:"all" %>
  <%= stylesheet_link_tag "application", media:"all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/js/jquery.browser" %>
  <%= stylesheet_link_tag "/css/app", media:"all"%>
  <%= javascript_include_tag "/js/app", media:"all"%>
  <%= stylesheet_link_tag "/css/font-awesome.min", media:"all"%>
  <%= stylesheet_link_tag "/css/editor", media:"all"%>
  <%= javascript_include_tag "/js/handlebars", media:"all"%>
  <%= javascript_include_tag "/bootstrap/bootstrap-transition" %>
  <%= javascript_include_tag "/bootstrap/bootstrap-modal" %>
  <%= javascript_include_tag "/bootstrap/bootstrap-tooltip" %>
  <%= javascript_include_tag "/pagedown/Markdown.Converter" %>
  <%= javascript_include_tag "/pagedown/Markdown.Sanitizer" %>
  <%= javascript_include_tag "/pagedown/Markdown.Editor" %>
  <%= stylesheet_link_tag "/highlighter/prettify", media:"all" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav class="main">
			<a href="/" style="display:inline-block;float:left;padding:8px 20px;"><h4>Lacuna</h4></a>
			<ul class="main-nav">
				<li>
					<a href="/blogs" title="Blog">Blog</a>
				</li>
				<li>
					<a href="/pics" title="Picture">Picture</a>
				</li>
				<li>
					<a href="/tags" title="Tag">Tag</a>
				</li>
			</ul>
			<ul class="sign-status">
				<li style="position:absolute;right:160px;top:1px">
					<% if signed_in? %>
						<%= link_to "退出", signout_path, method: :delete%>
					<% else %>
						<%= link_to "登录", signin_path %>
					<% end %>
				</li>
			</ul>
		</nav>
	</header>
	<wrapper>
		<%= yield %>
		<a href="javascript:void(0);" class="screen-top" title="返回顶部" style="display: none;">
			<del></del>
			<b></b>
		</a>
	</wrapper>
	<footer>
	</footer>
</body>
</html>
