<!DOCTYPE html>
<html>
<head>
  <title><%=title(yield(:title))%></title>
  <%= stylesheet_link_tag "/bootstrap/bootstrap", media:"all" %>
  <%= stylesheet_link_tag "application", media:"all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/js/jquery.browser" %>
  <%= stylesheet_link_tag "/css/app", media:"all"%>
  <%= javascript_include_tag "/js/app", media:"all"%>
  <%= stylesheet_link_tag "/css/font-awesome.min", media:"all"%>
  <%= stylesheet_link_tag "/css/editor", media:"all"%>
  <%= javascript_include_tag "/bootstrap/bootstrap-transition" %>
  <%= javascript_include_tag "/bootstrap/bootstrap-modal" %>
  <%= javascript_include_tag "/bootstrap/bootstrap-tooltip" %>
  <%= javascript_include_tag "/pagedown/Markdown.Converter" %>
  <%= javascript_include_tag "/pagedown/Markdown.Sanitizer" %>
  <%= javascript_include_tag "/pagedown/Markdown.Editor" %>
  <%= stylesheet_link_tag "/highlight/styles/default" %>
	<%= javascript_include_tag "/js/ajaxfileupload" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="middle narrow">
			<%= render partial: "admin/author", locals:{type:"site"}%>
		</div>
		<nav class="main">
			<a id="main-icon" class="wide" href="/">
				<h4>Lacuna</h4>
			</a>
			<ul class="main-nav">
				<li>
					<a href="/blogs" title="Blog">Blog</a>
				</li>
				<li>
					<a href="/pictures" title="Picture">Picture</a>
				</li>
				<li>
					<a href="/tags" title="Tag">Tag</a>
				</li>
			</ul>
			<ul class="sign-status">
				<li style="position:absolute;right:160px;top:1px">
					<% if signed_in? %>
						<%= link_to "Sign out", signout_path, method: :delete%>
					<% else %>
						<%= link_to "Sign in", signin_path %>
					<% end %>
				</li>
			</ul>
		</nav>
	</header>
	<wrapper>
		<%= yield %>
		<a href="javascript:void(0);" class="screen-top" title="返回顶部" style="display: none;">
			<del></del>
			<b></b>
		</a>
	</wrapper>
	<%= javascript_include_tag "/highlight/highlight.pack" %>
	<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
