<!DOCTYPE html>
<html>
<head>
  <title><%=title(yield(:title))%></title>
  <%= stylesheet_link_tag    "application", media:'all' %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "/css/app", media:'all'%>
  <%= stylesheet_link_tag "/css/font-awesome.min", media: 'all'%>
  <%= javascript_include_tag "/js/app", media:'all'%>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<section class="author-info">
				<a href="/blogs" style="color:#fff"><h3>落在深海</h3></a>
		<!-- <nav>
			<ul>
				<li>
					<a href="/blogs" class="nav1" title="文章"></a>
				</li>
				<li>
					<a href="/photos" class="nav2" title="摄影"></a>
				</li>
				<li>
					<a href="/tags" class="nav3" title="标签"></a>
				</li>
				<li>
					<% if signed_in? %>
						<%= link_to "", signout_path, method: :delete, class: "nav4"%>
					<% else %>
						<%= link_to "", signin_path, class: "nav4"%>
					<% end %>
				</li>
			</ul>
		</nav> -->
		</section>
	</header>
	<wrapper>
		<%= yield %>
	</wrapper>
	<footer>
		<span>©</span>
		<a href="http://www.douban.com/people/31660758/" target="_blank" style="font-size:12px;">lacuna fario</a>
	</footer>		
</body>
</html>
